<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Geodesignhub Dashboard</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='assets/css/jquery.dataTables.min.css' rel='stylesheet' type='text/css'>
    <link href='assets/css/flatty.css' rel='stylesheet' type='text/css'>
    <link href='assets/css/base.css' rel='stylesheet' type='text/css'>
    <style type="text/css">
        #wrapper {
            width: 1200px;
            margin: 0 auto;
            overflow: hidden;
        }

        .pull-right {
            float: right;
        }

        a {
            color: #00AED8;
        }

        a:hover {
            color: #00AED8;
        }

        section {
            padding-top: 20px;
        }

        .herounit {
            background: #E5E4E2;
            padding-bottom: 25px;
        }
    </style>
</head>

<body>
    <div class='herounit'>
        <div class="container">
            <!-- Static navbar -->
            <!-- Main component for a primary marketing message or call to action -->
            <br>
            <h1>Geodesignhub Dashboard</h1>
            <br>
            <p>This is a text based dashboard of your Geodesignhub project via the <a
                    href="http://www.geodesignhub.com/api/" target="_blank">Geodesignhub API</a> experiment to. In
                addition to showing the text based information about the individual diagrams, diagram notes can be
                displayed as well. For more information, see the <a
                    href="https://geodesignhub.github.io/dashboard">Github</a> page.</p><br>


        </div>
    </div>
    <br>
    <div class="container">

        <section>

            <section>

                <br>
                <h2><span>Project Diagram Notes</span> <span class="pull-right"><a
                            href="/?projectid=<%= project_id %>&apitoken=<%= api_token %>">See Diagram Grid →</a></span>
                </h2>
                <br><br>

                <table id="dTable" class="cell-border display">
                    <thead>
                        <tr>
                            <th>System</th>
                            <!-- <th>Map</th> -->
                            <th>Position</th>
                            <th>Project or Policy</th>
                            <th>Diagram Description</th>
                            <th>Diagram Notes</th>

                        </tr>
                    </thead>
                    <tbody>
                        <%  var all_diagrams = data[1];
                        var systems = data[0];
                        for ( var i = 0; i < all_diagrams.length; i++ ) {
                        var cur_diagram_details = all_diagrams[i];
                        var sys_id = cur_diagram_details.sysid;
                        var system_name;
                        for (var j = 0; j < systems.length; j++ ) {
                            
                            if (sys_id == systems[j].id) {
                                system_name = systems[j].sysname;
                                break;

                            }
                        }
                        %>
                        <tr>
                            <td><%= system_name %></td>
                            <!-- <td>NA</td> -->
                            <td><%= cur_diagram_details.rank %></td>
                            <td><%= cur_diagram_details.type %></td>
                            <td><%= cur_diagram_details.description %></td>
                            <td><%= cur_diagram_details.notes %></td>
                        </tr>
                        <% } %>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>System</th>
                            <!-- <th>Map</th> -->
                            <th>Position</th>
                            <th>Project and Policy</th>
                            <th>Diagram Description</th>
                            <th>Diagram Notes</th>
                        </tr>
                    </tfoot>
                </table>
            </section>
            <section>
                <br>
                <br>
            </section>

    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.dataTables.min.js"></script>
    <script src="assets/js/humane.min.js"></script>
    <script type="text/javascript">
        var dataTable;
        // let data = <%- JSON.stringify(data) %>;
        // console.log(data);
        // populateDesignGrid(data.results[1], data.results[2]);

        humane.log("Diagram Data populated", {
            addnCls: 'humane-flatty-success'
        });

        var groupColumn = 0;
        dataTable = $("#dTable").DataTable({
            "searching": true,

            "lengthMenu": [100],
            "columnDefs": [{
                "visible": false,
                "targets": groupColumn
            }],
            "columns": [
                null,{
                    "width": "10%"
                },{
                    "width": "10%"
                },
                null,
                null
            ],
            "order": [
                [groupColumn, 'asc']
            ],
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({
                    page: 'current'
                }).nodes();
                var last = null;

                api.column(groupColumn, {
                    page: 'current'
                }).data().each(function (group, i) {
                    if (last !== group) {
                        $(rows).eq(i).before(
                            '<tr class="group"><td colspan="5">' + group + '</td></tr>'
                        );
                        last = group;
                    }
                });
            }
        });
    </script>
</body>

</html>